/*common*/
html,
body,
div,
p,
form,
input,
ul,
select {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-tap-highlight-color: transparent;
  font-weight:normal;
}
*{
   margin: 0;
   padding: 0; 
}
a{ 
  text-decoration:none; 
  color:#333; 
  -webkit-tap-highlight-color: transparent;
} 
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: arial, "Microsoft YaHei";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  width: 100%;
  height: 100%;
}
.container {
  height:100%;
}
ul,
li {
  list-style: none;
}
.fl {
  float: left
}

.fr {
  float: right
}
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
/*page style*/
header {
    width: 100%;
    border-bottom: 10px solid rgb(239,86,97);
}
.logo {
    margin-left: 20px;
    width: 272px;
    height: 90px;
    background: url("../img/logo.png") no-repeat 100%;
}
.list {
    width: 100%;
    padding-left: 292px;
    font-size: 0;
}
.list a {
    display: inline-block;
    width: 14.28%;
    font-size: 12px;
    color: #7D7A7A;
    text-align: center;
    white-space: nowrap;
    height: 60px;
    margin-top: 28px;
}
.list .home {
  background: url('../img/home.png') no-repeat center top;
}
.list .reward {
  background: url('../img/reward.jpg') no-repeat center top;
}
.list .thanks {
  background: url('../img/thanks.png') no-repeat center top;
}
.list .gift {
  background: url('../img/gift.png') no-repeat center top;
}
.list .order {
  background: url('../img/order.png') no-repeat center top;
}
.list .chart {
  background: url('../img/chart.png') no-repeat center top;
}
.list .contact {
  background: url('../img/contact.jpg') no-repeat center top;
}
.list a span {
    display: block;
    margin-top: 40px;
}
.list a span:hover {
    color: red;
}
.active {
    color: red!important;
}
.gap {
    height: 210px;
    background: #FFFFFF;
}
div {
  box-sizing: border-box;
}



